@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base element resets */
html, body { height: 100%; }
a { color: inherit; text-decoration: none; }
* { box-sizing: border-box; }

/* Default color scheme hint to browsers */
:root { color-scheme: light dark; }
